@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Bilbo+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F5F5F5;
  scroll-behavior: smooth;
}

body:not(.mail) {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.css-gg4vpm {
  display: block!important;
}

.experience small::selection {
  color: #fff;
   background-color: #000; 
   text-shadow: 1px 1px 3px orange;
}

.years {
  height: max-content;
  width: max-content;
  padding: 2px 14px;
  background: #FDB82C;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.mail, .phone {
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.namesOfParagraphs {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
}

.paragraphs {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}

.about {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 30px;
}

.social-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
}

.resume {
  padding: 0px 0px 0px 40px!important;
  margin-top: -50px;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.observable {
  display: flex;
  justify-content: space-around;
  
  margin-left: 20px;

}

.MuiTabs-scrollButtons.Mui-disabled {
  opacity: 0.3;
}

.avatar {
  display: none;
}

@media (max-width: 720px) {
  .main {
    display: flex!important;
    flex-direction: column;
    align-items: center;
  }
  .MuiBottomNavigation-root .css-18vbpwz-MuiBottomNavigation-root{
    width: -webkit-fill-available!important;
  }

  .photo {
    width: 100%!important;
    height: 500px!important;
  }

  .container {
    width: -webkit-fill-available;
  }

  .social-container {
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    padding: 20px;
    column-gap: 20px;
  }

  .css-5m2iln-MuiStack-root {
    padding-right: 0!important;
  }

  .imageProfile {
    display: none;
  }

  .avatar {
    display: flex;
    justify-content: center;
  }

  .items {
    flex-direction: column;
  }
}